flask
gunicorn
ffmpeg-python
pydub
essentia==2.1b6.dev1389
openvoice-cli
ctranslate2
faster-whisper
demucs==4.0.1
crepe
librosa==0.9.1
soundfile
pyloudnorm
numpy
scipy
torch==2.2.2
torchaudio==2.2.2
openunmix
julius
pychorus
whisper-timestamped
wavmark
