flask
gunicorn
ffmpeg-python
pydub
requests
pyloudnorm
scipy
soundfile
openvoice-cli==0.0.5
ctranslate2
faster-whisper
demucs==4.0.1
crepe
librosa==0.9.1
numpy
torch==2.2.2
torchaudio==2.2.2
openunmix
julius
pychorus
whisper-timestamped
wavmark
flask-cors
